In [9]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

fake_data_source = r"C:\Users\vargo\codebase\python\data\fake-data.csv"

In [10]:
data_f = pd.read_csv(fake_data_source)
data_f.head()

,Application ID,Application Date,Channel,Amount Requested,Risk Class,Decision,Decision Code,Outcome,Revenue/ (Loss)
0,100000,12/1/2010,Online,$500,N,Decline,D,NaN,$-
1,100001,12/1/2010,Online,$300,N,Decline,D,NaN,$-
2,100002,12/1/2010,Online,$500,B,Decline,D,NaN,$-
3,100003,12/1/2010,Store,$500,B,Approve,S,Good = Pay,$50
4,100004,12/1/2010,Store,$500,N,Decline,D,NaN,$-